In [51]:
import pandas as pd
import numpy as np

In [52]:
dataset = pd.read_csv("house_prices_data_training_data.csv")

In [53]:
dataset.describe()

                 id         price  ...  sqft_living15     sqft_lot15
count  1.799900e+04  1.799900e+04  ...   17999.000000   17999.000000
mean   4.567994e+09  5.330743e+05  ...    1973.236735   13282.270737
std    2.862810e+09  3.644122e+05  ...     673.186870   27352.415012
min    1.000102e+06  7.500000e+04  ...     399.000000     660.000000
25%    2.123049e+09  3.150000e+05  ...    1490.000000    5419.500000
50%    3.905121e+09  4.470000e+05  ...    1830.000000    7820.000000
75%    7.298010e+09  6.354750e+05  ...    2336.500000   10346.000000
max    9.900000e+09  7.700000e+06  ...    6110.000000  871200.000000

[8 rows x 20 columns]

In [54]:
import sklearn

In [55]:
dataset.dropna(inplace=True)
X = dataset.iloc[:, 3:].values
y = dataset.iloc[:, 2].values

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [57]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [58]:
y_pred = regressor.predict(X_test)

In [59]:
print(y_pred)

[334437.94878076 711170.71670081 608717.28330946 ... 405833.08724415
 305690.82933909 381003.75410795]

In [60]:
from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred)*100, "%")

69.4068507584144 %

In [61]:
from sklearn.linear_model import Ridge
RegularizedRegressor = Ridge(alpha=500.0)
RegularizedRegressor.fit(X_train, y_train)

Ridge(alpha=500.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [62]:
y_pred = RegularizedRegressor.predict(X_test)
print(r2_score(y_test, y_pred)*100, "%")

65.93556732077492 %

In [63]:
def calc_acc(acc_score):
  print("accuracies",(acc_score))
  print("Maximum accuracy", acc_score[np.argmax(np.array(acc_score))]*100, " fold #", np.argmax(np.array(acc_score)))

In [64]:
#Implementing cross validation
from sklearn.model_selection import KFold 
from sklearn.metrics import accuracy_score

kf = KFold(n_splits=20, random_state=None)
model = LinearRegression()

acc_score = []

for train_index , test_index in kf.split(X):
    X_train , X_test = X[train_index,:],X[test_index,:]
    y_train , y_test = y[train_index] , y[test_index]
    
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    acc = r2_score(y_test, y_pred)
    acc_score.append(acc)

    
calc_acc(acc_score)

accuracies [0.7124656930001434, 0.669063618132398, 0.7480844622369978, 0.71145166612969, 0.6552661064123584, 0.6778421399689276, 0.7076547326199152, 0.735707596745451, 0.700555308786615, 0.6016541959321982, 0.6657881029890101, 0.7104702914625156, 0.7225136011388097, 0.6952228194073791, 0.7046145307502676, 0.6961438958321913, 0.7352233610925918, 0.7012585612990077, 0.7164238898296135, 0.6957265728792013]
Maximum accuracy 74.80844622369978  fold # 2

In [65]:
#Implementing cross validation
from sklearn.model_selection import KFold 
from sklearn.metrics import accuracy_score

k = 5
kf = KFold(n_splits=20, random_state=None)
from sklearn.linear_model import Ridge
model = Ridge(alpha=500.0)
model.fit(X_train, y_train)
acc_score = []

for train_index , test_index in kf.split(X):
    X_train , X_test = X[train_index,:],X[test_index,:]
    y_train , y_test = y[train_index] , y[test_index]
    
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    acc = r2_score(y_test, y_pred)
    acc_score.append(acc)

calc_acc(acc_score)

accuracies [0.6759134400751037, 0.6286829338838249, 0.6924410327399064, 0.6860623488267354, 0.6224607302763856, 0.6351013212575005, 0.6924243901243868, 0.6934156225106495, 0.6734924384542078, 0.5912126311208898, 0.654303211184941, 0.6629297673886199, 0.683819029820921, 0.6742943179045396, 0.6920710252731144, 0.6647703343691387, 0.7088933846550611, 0.6669947229071835, 0.6993247467801735, 0.6776199558396137]
Maximum accuracy 70.88933846550611  fold # 16

In [66]:
#Implementing cross validation
from sklearn.model_selection import KFold 
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold

Stratified= StratifiedKFold(n_splits=20)
Stratified.get_n_splits(X, y)
acc_score = []

from sklearn.linear_model import Ridge
model = Ridge(alpha=500.0)
model.fit(X_train, y_train)

StratifiedKFold(n_splits=20)
for train_index , test_index in kf.split(X):
    X_train , X_test = X[train_index,:],X[test_index,:]
    y_train , y_test = y[train_index] , y[test_index]
    
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    acc = r2_score(y_test, y_pred)
    acc_score.append(acc)

calc_acc(acc_score)

accuracies [0.6759134400751037, 0.6286829338838249, 0.6924410327399064, 0.6860623488267354, 0.6224607302763856, 0.6351013212575005, 0.6924243901243868, 0.6934156225106495, 0.6734924384542078, 0.5912126311208898, 0.654303211184941, 0.6629297673886199, 0.683819029820921, 0.6742943179045396, 0.6920710252731144, 0.6647703343691387, 0.7088933846550611, 0.6669947229071835, 0.6993247467801735, 0.6776199558396137]
Maximum accuracy 70.88933846550611  fold # 16